/* home */
.home{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url("../img/Car\ Website\ –\ 1@2x.png");   
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}
.text h1{
    font-size: 3.5rem;
    letter-spacing: 2px;
}
.text span{
    color: var(--main-color);
}
.text p{
    margin: 00.5rem 0 1rem;
}
.app-stores{
    display: flex;
}
.app-stores img{
    width: 100px;
    margin-right: 1rem;
    cursor: pointer;
}

.form-container form{
    display: flex;
    
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    left: 100px;
    background: #fff;
    padding: 20px;
    border-radius: 0.5rem;

}
.input-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box span{
    font-weight: 500;
}
.input-box input{
    padding: 7px;
    outline: none;
    border: none;
    background: eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.form-container form .btn{
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: #474fa0;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.form-container form .btn:hover{
    background: #fe5b3d;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    text-transform: uppercase;
}
.heading h1{
    font-size: 2rem;
}